.main-cart {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ul-cart{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style-type: none;
    gap:20px;
}

.button {
    background-color: #09c309;
    color: white;
}


.nav-cart {
    background-color: #09c309;
    flex: 1;
}

.ul-nav-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

.li1-nav-cart {
    flex: 1;
}

.li2-nav-cart {
    flex: 2;
}

.li3-nav-cart {
    flex: 5;
}

.li4-nav-cart {
    flex: 1;
}

.div-cart{
    flex:6;
}

.p-cart{
    color:black;
}

.cart {
    max-width: 100px;
    max-height: 150px;
}
.container {
    position: relative;    
}

.counter{
    position:absolute;
    top: 30px;
    left: 90px; 
    color:black;
}